
:root{
    --color-one:        #3b3b3b;
    --color-two:        #f8f9fa;
    --principal-color:  #212529;
    --secondary-color:  #ffc107;
    --auxiliar-color1:  #cea014;
    --auxiliar-color2:  #9d7e21;
    --shadow:           #1c1c1c;

    --font-familly-one: Verdana;
    --font-weight-one: 500;

    --font-familly-two: Arial;
    --font-weight-two: 100;
    --font-size-two: 3em;

}
*{
    font-family: Lexend;
    color: var(--color-two);
    transition: all .3s ease;
    scroll-behavior: smooth;
}
html, body{
    background-color: var(--principal-color);
    overflow-x: hidden;
}

.intro{
    font-size: 20px;
    text-transform: uppercase;
}

.intro-name{
    font-weight: 700; 
    font-size: 50px;
    text-transform: uppercase;
}

.intro-initials{
    font-size: 15px; 
    text-align: justify;
    opacity: 50%;
}

.intro-balls{

    width: 20em; 
    height: 20em;
    border-radius: 100%;
    position: absolute;
    transform: translate(0%, -50%);
    right: 0;

}

.intro-template{
    max-width: 32em!important;
}

#ball3{

    top: -10em;
    background-color: var(--auxiliar-color2);

}

#ball2{

    top: 0em;
    background-color: var(--auxiliar-color1);

}

#ball1{

    top: 10em;
    background-color: var(--secondary-color);

}

.page-content{

    background-color: var(--principal-color);
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: start; 
    height: auto; 
    min-height: 100vh;
    padding: 5em;

}

.topics{

    padding: 2em 2em!important;
    margin: 2em 2em;
    max-width: 20em!important;
    min-height: 25em!important;
    border-radius: 1em;
    box-shadow: 0px 15px 15px 9px var(--shadow);
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
}

.topics .topic-title{
    color: var(--secondary-color);
}

.topic-link{

    text-decoration: none;
    color: var(--color-two);
    display: flex;
    justify-content: end;
    align-items: center;

}

.topic-link-container{

    width: 100%;
    text-align: end;
    margin-top: auto;

}

.topic-link > p{

    display: inline;
    margin: 0 .6em;

}

.download_cv{

    text-decoration: none;
    font-size: 12px;
    text-transform: uppercase;
    color: var(--secondary-color);

}

.download_cv:hover{
    text-decoration: none;
    color: var(--auxiliar-color1);
}

.disabled{

    opacity: 50%;
    cursor: not-allowed;

}

.h1-title{
    font-weight: var(--font-weight-one);
}
.p-subtitle{
    font-family: var(--font-familly-two);
    font-weight: var(--font-weight-two);
    font-size: var(--font-size-two);
}
[data-anime]{
    opacity: 0;
    transition: 0.3s;
}
[data-anime = "up"]{
    transform: translate3d(0, 100px, 0);
}
[data-anime].animated{
    opacity: 1;
    transform: translate3d(0, 0, 0);
    
}
.alt-nav{
    height: 5em;
}

.nav-item:hover{

    border-bottom: 4px solid #ecb41a!important;
    transition: all 0.1s ease;

}


body::-webkit-scrollbar{
    width: 10px;
}
body::-webkit-scrollbar-thumb{
    background: #888;
    border-radius: 10px;
}



.overflow{
    overflow: auto;
}
.overflow::-webkit-scrollbar {
    width: 5px;
}
.overflow::-webkit-scrollbar-track {
    background: #f1f1f100;
}
.overflow::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}




.container-one{
    position: relative;
    width: 300px;
    height: 250px;
}
.container-one:hover > .card-one{
    transform: rotateY(180deg);
}

.card-one{
    position: relative;
    width: 100%;
    height: 100%;
    margin: auto;
    max-width: 21em;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
}

.card-one:hover{
    transform: rotateY(180deg);
}

.front{
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 5px;
}

.back{
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    border-radius: 5px;
}

.tremidinha:hover{
    animation: tremidinha 0.1s alternate;
}

@keyframes tremidinha{

    0% {
        transform: rotate(-1deg);
    }
    50%{
        transform: rotate(1deg);
    }
    100%{
        transform: rotate(0deg);
    }

}


.ladin{
    transition: all 0.3s ease;
}
.ladin:hover{
    transition: all 0.3s ease;
    transform: translate3d(50px, 0, 0);
}

.hover-warning{
    transition: all 0.3s ease;
}
.hover-warning:hover{
    transition: all 0.3s ease;
    color: #ecb41a;
}



.wave{
    transition: all 0.3s;
    animation: waves 20s alternate infinite;
}
.wave1{
    transition: all 0.3s;
    opacity: 75%;
    animation: waves 20s alternate-reverse infinite;
}
.wave2{
    transition: all 0.3s;
    opacity: 50%;
    animation: waves 16s alternate infinite;
}
.wave3{
    transition: all 0.3s;
    opacity: 25%;
    animation: waves 16s alternate-reverse infinite;
}

@keyframes waves {
    25%{
        transform: translate3d(50%, 0px,0);
    }
    50%{
        transform: translate3d(-50%, 0px,0);
    }
    75%{
        transform: translate3d(50%, 0px,0);
    }
    100%{
        transform: translate3d(-50%, 0px,0);
    }
}

#Links{

    background-color: var(--color-one);

}

@media (max-width: 850px) {
    body {
        font-size: 14px;
        /* padding: 1em; */
    }

    .intro-name {
        font-size: 30px;
    }

    .intro {
        font-size: 16px;
    }

    .intro-balls {
        width: 10em;
        height: 10em;
        transform: translate(-50%, -50%);
        right: 0%;
    }

    #ball1{
        top: 5em;
    }

    #ball3{
        top: -5em;
    }

    .container-one {
        width: 100%;
        height: auto;
    }

    .card-one {
        max-width: 100%;
    }

    .h1-title {
        font-size: 1.5em;
    }

    .p-subtitle {
        font-size: 2em;
    }
}

@media (max-width: 770px), (max-height: 800px) {

    .balls{
        display: none;
    }

    .intro-template{
        text-align: center;
    }

    .intro-initials{
        margin-top: 1em;
    }
}